@charset "UTF-8";
/*
.container{
	height: 100%;
	width: 50%;
	background-color: aqua;
}
*/
body {
	background-color: gray;
}
.signup{
	background-color: gray;
	height: 100%;
	width: 100%;
	
	
}

form {
	border: 1px solid black;
	width: 200px;
	background-color:white; 
}